#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #backgroundBox {
  background-color: #EDEDED;
  background-image: none;
  position: absolute;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 900px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base {
  position: absolute;
  top: 463px;
  left: 2px;
  width: 1279px;
  height: 408px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base span#rtr-s-Base_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Footer {
  position: absolute;
  top: 737px;
  left: 12px;
  width: 657px;
  height: 134px;
  display: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_13 {
  position: absolute;
  top: 30px;
  left: 383px;
  width: 173px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 383px;
  width: 274px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.5pt;
  font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 span {
  color: #4CB9CE;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.5pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 span#rtr-s-Label_5_0 {
  color: #4CB9CE;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 293px;
  height: 108px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 274px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.5pt;
  font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 span {
  color: #4CB9CE;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.5pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 span#rtr-s-Label_19_0 {
  color: #4CB9CE;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_1 {
  position: absolute;
  top: 496px;
  left: 0px;
  width: 1293px;
  height: 192px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}